INQUIRER_FEED_URL=https://newsinfo.inquirer.net/feed
STOCK_MARKET_FEED_URL=https://feeds.finance.yahoo.com/rss/2.0/headline?s=%5EGSPC,%5EDJI,%5EIXIC&region=US&lang=en-US
WATCH_SYMBOL=DDD
STOCK_RANGE=1d
STOCK_INTERVAL=1m
